<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true">
		<!-- Enable asynchronous logging -->
		<target xsi:type="File" name="logfile"
				fileName="${specialfolder:folder=Desktop}/ONEVoice_${shortdate}.log"
				layout="${longdate} ${level} [${callsite}] - ${message}"
				archiveEvery="Day"
				archiveFileName="${specialfolder:folder=Desktop}/ONEVoice_${shortdate}.{#}.log"
				archiveNumbering="Rolling"
				maxArchiveFiles="3"
				archiveAboveSize="10485760" />
		<!-- 10 MB -->
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>